<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" ></script>
</head>
<body>
    <header>
        {% block top %}
        {% endblock top %}
    </header>
    <main>
            {% block content %}
            {% endblock content %}
    </main>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}
</body>
</html>